{% extends 'base.html' %}

{% block head %}
<title>Stock Tracker</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Stock Tracker</h1>
    {% if stocks|length < 1 %}
    <h4 style="text-align: center">You are not tracking any stocks yet, Add one below</h4>
    {% else %}
    <table>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Price</th>
            <th>Frequency</th>
            <th>Updated</th>
        </tr>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.frequency }}</td>
                <td>{{ stock.last_check }}</td>
                <td>
                    <a href="/delete/{{stock.ticker}}">Delete</a>
                    <br>
                    <a href="/update/{{stock.ticker}}" stock=stock>Info</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <label name="ticker_label">Stock Ticker</label>
            <input type="text" name="ticker" id="ticker_input" align="right">
            <br>
            <label name="check_frequency">Frequency (minutes)</label>
            <input type="int" name="frequency" id="frequency_input">
            <input type="submit" value="Track stock">
        </form>
    </div>
</div>
{% endblock %}